// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//

.white-box{
    position: relative;
    padding:20px 0px;
    padding-bottom:0px;
}

.asset-main-tab {
    margin-top:5px;
    padding-bottom:20px;
    border-bottom: 1px solid #cccccc;
    
    .nav-tabs {
        border-bottom: 0 !important;
        width: 19%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        margin-left: 20px;
        @include max-mq(1200){
            width:30%;
        }
        .nav-item {
            border: none !important;
            font-size: 13px;
            color: #5e5e5e;
            font-weight: 400;
            padding: 0;
            position: relative;
            padding: 9px 0px;
            border-radius: 18px !important;
            background: #f6f6f6;
    
            &:hover{
                background: #7299FF;
                color:#fff;
            }
        }
        .active{
            background: #7299FF;
            color:#fff;
           
        }
    }
}


.tab-pane {
    padding: 0px 25px;
    @include max-mq(1200){
        padding:0px 20px;
    }
}

//----------- strips------------------
.editable-account{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 22px 25px;
    display: flex;
    margin-top: 10px;
    .number {
        width: 5%;
    }
    .account-type {
        width: 60%;
    }
    .pricing-icon {
        width: 25%;
        .price{
            margin-right:25px;
           
        }
    }
    .action-tab-main {
        width: 10%;
        .edit-btn{
            margin-right:25px;
            cursor: pointer;
            @include max-mq(1200){
                margin-right:10px;
            }
        }
    }
}

.active-step{
        border-left: 10px solid #7299FF !important;
}



.list-main-filter{
    border: 1px solid rgba(114, 153, 255, 0.25);
    border-radius: 10px;
    padding-bottom:20px;
    margin-top: 0px;
    .asset-main-tab{
        display: flex;
        align-items: center;
        padding-bottom: 0;
        margin-top: 0;
        border-bottom: 0;
        background: #7299FF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px 20px;
       span{
        color: #fff;
        font-weight: 700;
        font-size: 15px;
       }
    }
    
}



// -----------------------------------total-expanse--------------------------//
.total-expanse-panal-bottom-main{
    margin-top: 20px;
    background: rgba(255, 164, 18, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 20px;
    position: relative;
    // &::before{
    //     position: absolute;
    //     content: '';
    //     background: rgba(0, 0, 0, 0.2);
    //     width: 1px;
    //     top: 0;
    //     bottom: 0;
    //     left: auto;
    //     right: 25%;
    // }
    .inner-expanse-panal-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-panal{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            .com-col{
                .label {
                    text-transform: uppercase;
                    font-size: 13px;
                    display: block;
                    margin-bottom: 15px;
                }
                .value {
                    
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        
    }
}



.red-total-expanse {
    color: #FD4755;
}

.green-cleared {
    color: #27AE60;
}

.second-col:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    width: 1px;
    top: 0;
    bottom: 0;
    left: 33%;
}

.second-col:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    width: 1px;
    top: 0;
    bottom: 0;
    right: 33%;
}


.list-main-filter{
    .asset-main-tab{
        justify-content: space-between;
        .add-insurance{
            a{
                background: rgba(255, 255, 255, 0.3);
                padding: 7px 8px;
                border-radius: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}


.transfer-main{
    display: flex;
    align-items: center;
    justify-content: center;
    .transfer {
        font-size: 14px;
        color: #5E5E5E;
        border: 1px solid #5e5e5e;
        padding: 10px 30px !important;
        border-radius: 300px;
        line-height: 21px;
        padding-left: 60px !important;
        position: relative;
        text-decoration: none !important;
        &::before{
            position: absolute;
            content: '';
            background: url(../../../assets/images/transfer-icon.svg) no-repeat;
            background-size: 100% 100%;
            width: 20px;
            height: 20px;
            left: 25px;
        }
    }
}