<app-progress-bar *ngIf="isApiCalling"></app-progress-bar>
<div class="heading-pannel">
    <div class="component-heading">
        <span>Payees / Payers</span>
    </div>
    <div class="component-btn">
        <button class="btn" (click)="openCategorymodal()">{{AddText}}</button>
    </div>
</div>

<div class="sub-compo-wrap">
    <div class="white-box">
        <nav class="asset-main-tab">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" (click)="setType('PAYEE')"
                    href="#nav-asset" role="tab" aria-controls="nav-home" aria-selected="true">Payees</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" (click)="setType('PAYER')"
                    href="#nav-cash" role="tab" aria-controls="nav-profile" aria-selected="false">Payers</a>
            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-asset" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-8 col-md-8 col-lg-8 scroller-class">
                        <div class="payees-contact-main">
                            <div class="left-col-contact">

                                <ng-container *ngIf="isShimmerLoading">
                                    <div *ngFor="let shimmer of [1,2,3,4,5,6,7,8,9,10]">
                                        <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'50px'">
                                        </ngx-shimmer-loading>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="!isShimmerLoading">
                                    <div id="{{char.title}}" class="main-box-character"
                                        *ngFor="let char of payeePayer; let i = index">
                                        <div class="first-latter-main">
                                            <span>{{char.title}}</span>
                                        </div>
                                        <ng-container *ngFor="let payees of char.data; let j = index">
                                            <div class="inner-strips-main-box"
                                                [ngClass]="{ 'active-box' : isRecordSelected == i && isRecordSelected1 == j}"
                                                (click)="recordSelected(i,j,payees)">
                                                <div class="name-of-holder">
                                                    {{payees.name}}
                                                </div>
                                                <div class="price-tag-main">
                                                    {{convertNumberinPositive(payees.expenseTotal) | currency}}
                                                </div>
                                                <div class="del-icon">
                                                    <button class="icon-remove">
                                                        <img src="../../../assets/images/edit-pencil.svg"
                                                            (click)="updatePayeeOrPayer(payees)">
                                                    </button>

                                                    <button class="icon-remove">
                                                        <img src="../../../assets/images/delete-trash.svg"
                                                            (click)="deletePayee(payees._id,payees.name,'deletePayee')">
                                                    </button>

                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>


                                    <!-- <div class="main-box-character" *ngFor="let char of availableSortData"
                                        id="{{char}}">
                                        <div class="first-latter-main">
                                            <span>{{char}}</span>
                                        </div>
                                        <ng-container *ngFor="let payees of payeesArray; let i = index">
                                            <div *ngIf="(payees.name.charAt(0)).toUpperCase()==char">
                                                <div class="inner-strips-main-box"
                                                    [ngClass]="{ 'active-box' : isRecordSelected == i }"
                                                    (click)="recordSelected(i,payees)">
                                                    <div class="name-of-holder">
                                                        {{payees.name}}
                                                    </div>
                                                    <div class="price-tag-main">
                                                        ${{payees.expenseTotal}}
                                                    </div>
                                                    <div class="del-icon">
                                                        <button class="icon-remove">
                                                            <img src="../../../assets/images/edit-pencil.svg"
                                                                (click)="updatePayeeOrPayer(payees)">
                                                        </button>

                                                        <button class="icon-remove">
                                                            <img src="../../../assets/images/delete-trash.svg"
                                                                (click)="deletePayee(payees._id,payees.name,'deletePayee')">
                                                        </button>

                                                    </div>
                                                </div>

                                            </div>
                                        </ng-container>
                                    </div> -->

                                </ng-container>

                            </div>
                            <div class="right-col-contact">
                                <div class="comm-char" *ngFor="let char of sortCharData" (click)="gotoPayeesTop(char)">
                                    {{char}}
                                </div>
                                <div class="comm-char">#</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4">
                        <div class="list-main-filter">
                            <nav class="asset-main-tab">
                                <span>{{pName}}</span>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-list-tab" role="tabpanel"
                                    aria-labelledby="nav-list-tab">
                                    <div class="accordian-main">
                                        <mat-accordion>
                                            <ng-container *ngFor="let ad of payeeDetails">
                                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <span *ngIf="ad._id != undefined">
                                                                {{transactionMonth(ad?._id.month,ad?._id.year) |
                                                                date:'MMM
                                                                yyyy'}}
                                                            </span>
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            <span class="red-color">
                                                                <!-- $ 120.00 -->
                                                                {{convertNumberinPositive(ad?.total) |
                                                                currency}}
                                                            </span>
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    <div [ngClass]="{'sidebar-scroller':ad?.data.length > 2 }"
                                                        *ngIf="ad?.data !=undefined">
                                                        <div *ngFor="let d of ad?.data" class="inner-expansion-main">
                                                            <div class="inner-sub-left">
                                                                <div class="main-strips">
                                                                    <div class="holder-name">{{d.accountId.name}}</div>
                                                                    <div *ngIf="d.transactionType == 'IN'"
                                                                        class="price-tag green-color">
                                                                        {{convertNumberinPositive(d.amount) | currency}}
                                                                    </div>
                                                                    <div *ngIf="d.transactionType == 'OUT'"
                                                                        class="price-tag red-color">
                                                                        {{convertNumberinPositive(d.amount) |currency}}
                                                                    </div>
                                                                </div>
                                                                <div class="main-strips">
                                                                    <div class="date-and-time">{{d.createdAt | date}}
                                                                    </div>
                                                                    <img class="edit-icon" (click)="editTransaction(d)"
                                                                        src="../../../assets/images/edit-pencil.svg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </ng-container>
                                            <div style="display: flex;float: right; position: relative;top: -28px;"
                                                *ngIf="payeeIndexTotal > 5">
                                                <mat-paginator (page)="payeeDetailPageChange($event)"
                                                    [length]="payeeIndexTotal" [pageSize]="5">
                                                </mat-paginator>
                                            </div>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------second tab--------------------------- -->
            <div class="tab-pane fade" id="nav-cash" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                    <div class="col-8 col-md-8 col-lg-8 scroller-class">

                        <div class="payees-contact-main">
                            <div class="left-col-contact">

                                <ng-container *ngIf="isShimmerLoading">
                                    <div *ngFor="let shimmer of [1,2,3,4,5,6,7,8,9,10]">
                                        <ngx-shimmer-loading [shape]="'rect'" [width]="'100%'" [height]="'50px'">
                                        </ngx-shimmer-loading>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="!isShimmerLoading">
                                    <div id="P{{char.title}}" class="main-box-character"
                                        *ngFor="let char of payeePayer; let i = index">
                                        <div class="first-latter-main">
                                            <span>{{char.title}}</span>
                                        </div>
                                        <ng-container *ngFor="let payees of char.data;let j = index">
                                            <div class="inner-strips-main-box"
                                                [ngClass]="{ 'active-box' : isRecordSelected == i && isRecordSelected1 == j}"
                                                (click)="recordSelected(i,j,payees)">
                                                <div class="name-of-holder">
                                                    {{payees.name}}
                                                </div>
                                                <div class="price-tag-main">
                                                    {{convertNumberinPositive(payees.expenseTotal) | currency}}
                                                </div>
                                                <div class="del-icon">
                                                    <button class="icon-remove">
                                                        <img src="../../../assets/images/edit-pencil.svg"
                                                            (click)="updatePayeeOrPayer(payees)">
                                                    </button>

                                                    <button class="icon-remove">
                                                        <img src="../../../assets/images/delete-trash.svg"
                                                            (click)="deletePayee(payees._id,payees.name,'deletePayee')">
                                                    </button>

                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>


                                    <!-- <div class="main-box-character" *ngFor="let char of availableSortData"
                                        id="P{{char}}">
                                        <div class="first-latter-main">
                                            <span>{{char}}</span>
                                        </div>
                                        <ng-container *ngFor="let payer of payersArray; let i = index">
                                            <div *ngIf="(payer.name.charAt(0)).toUpperCase()==char">
                                                <div class="inner-strips-main-box"
                                                    [ngClass]="{ 'active-box' : isRecordSelected == i }"
                                                    (click)="recordSelected(i,payer)">
                                                    <div class="name-of-holder">
                                                        {{payer.name}}
                                                    </div>
                                                    <div class="price-tag-main">
                                                        ${{payer.incomeTotal}}
                                                    </div>
                                                    <div class="del-icon">
                                                        <button class="icon-remove">
                                                            <img src="../../../assets/images/edit-pencil.svg"
                                                                (click)="updatePayeeOrPayer(payer)">
                                                        </button>

                                                        <button class="icon-remove">
                                                            <img src="../../../assets/images/delete-trash.svg"
                                                                (click)="deletePayee(payer._id,payer.name,'deletePayee')">
                                                        </button>

                                                    </div>
                                                </div>

                                            </div>
                                        </ng-container>
                                    </div> -->

                                </ng-container>

                            </div>

                            <div class="right-col-contact">
                                <div class="comm-char" *ngFor="let char of sortCharData" (click)="gotoPayersTop(char)">
                                    {{char}}
                                </div>
                                <div class="comm-char">#</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-md-4 col-lg-4">
                        <div class="list-main-filter">
                            <nav class="asset-main-tab">

                                <span>{{pName}}</span>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-list-tab-2" role="tabpanel"
                                    aria-labelledby="nav-list-tab">
                                    <div class="accordian-main">
                                        <mat-accordion>
                                            <ng-container *ngFor="let ad of payeeDetails">
                                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            <span *ngIf="ad._id != undefined">
                                                                {{transactionMonth(ad?._id.month,ad?._id.year)|
                                                                date:'MMM
                                                                yyyy'}}
                                                            </span>
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            <span class="green-color">
                                                                <!-- $ 120.00 -->
                                                                {{convertNumberinPositive(ad?.total) |
                                                                currency}}
                                                            </span>
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>

                                                    <div [ngClass]="{'sidebar-scroller':ad?.data.length > 2 }"
                                                        *ngIf="ad?.data !=undefined">
                                                        <div *ngFor="let d of ad?.data" class="inner-expansion-main">
                                                            <div class="inner-sub-left">
                                                                <div class="main-strips">
                                                                    <div class="holder-name">{{d.accountId.name}}</div>
                                                                    <div *ngIf="d.transactionType == 'IN'"
                                                                        class="price-tag green-color">
                                                                        {{convertNumberinPositive(d.amount) | currency}}
                                                                    </div>
                                                                    <div *ngIf="d.transactionType == 'OUT'"
                                                                        class="price-tag red-color">
                                                                        {{convertNumberinPositive(d.amount) | currency}}
                                                                    </div>
                                                                </div>
                                                                <div class="main-strips">
                                                                    <div class="date-and-time">{{d.createdAt | date}}
                                                                    </div>
                                                                    <img class="edit-icon" (click)="editTransaction(d)"
                                                                        src="../../../assets/images/edit-pencil.svg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </ng-container>
                                            <div style="display: flex;float: right; position: relative;top: -28px;"
                                                *ngIf="payeeIndexTotal > 5">
                                                <mat-paginator (page)="payeeDetailPageChange($event)"
                                                    [length]="payeeIndexTotal" [pageSize]="5">
                                                </mat-paginator>
                                            </div>
                                        </mat-accordion>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!------------------------------ total Expanse Panal-------------------------->

<div class="fixed-foot total-expanse-panal-bottom-main">
    <div class="inner-expanse-panal-main">
        <div class="boxes">
            <span class="label red-total-expanse">Total Expanse : </span>
            <span class="value red-total-expanse">{{convertNumberinPositive(payeeSummary.expenseTotal) |
                currency}}</span>
        </div>
        <div class="boxes">
            <span class="label green-cleared">Current Balance : </span>
            <span class="value green-cleared">{{convertNumberinPositive(payeeSummary.currentBalance) | currency
                }}</span>
        </div>
        <div class="boxes">
            <span class="label">Income Total : </span>
            <span class="value">${{convertNumberinPositive(payeeSummary.incomeTotal) | currency}}</span>
        </div>
    </div>
</div>