<div class="heading-modal">
    <span>New Password</span>
</div>


<div class="stat-content-modal">
    <div class="otp-code-main">
        <form [formGroup]="Password" (ngSubmit)="onSubmit()">
            <div class="form-group Email-id">

                <a class="view-btn">
                    <img style="cursor: pointer; float: right;position: absolute;top: 24px;right: 23px;"
                        src="../../../assets/images/view-eye.svg" (click)="showPassword('password')"
                        *ngIf="!isPasswordShow">
                    <img style="width:22px;cursor: pointer; float: right;position: absolute;top: 24px;right: 23px;"
                        src="../../../assets/images/close-eyes.svg" (click)="showPassword('password')"
                        *ngIf="isPasswordShow">
                </a>

                <input [type]="isPasswordShow ? 'text':'password'" class="form-control forgotemail" placeholder="Password"
                    formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Please enter password between 6-12
                        character</div>
                    <div *ngIf="f.password.errors.password"></div>
                </div>
            </div>
            <div class="form-group Email-id">

                <a class="view-btn">
                    <img style="cursor: pointer; float: right;position: absolute;top: 24px;right: 23px;"
                        src="../../../assets/images/view-eye.svg" (click)="showPassword('confirmPassword')"
                        *ngIf="!isConfirmPassworShow">
                    <img style="width:22px;cursor: pointer; float: right;position: absolute;top: 24px;right: 23px;"
                        src="../../../assets/images/close-eyes.svg" (click)="showPassword('confirmPassword')"
                        *ngIf="isConfirmPassworShow">
                </a>

                <input [type]="isConfirmPassworShow ? 'text':'password'" class="form-control forgotemail" placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Password does not match</div>
                </div>
            </div>
            <button class="btn Verify w-100 d-block">submit</button>
        </form>
    </div>
</div>