.forgotemail{
    padding: 30px 30px !important;
    padding-left: 60px !important;
    border-radius: 85px !important;
    color: #000 !important;
    font-size: 13px !important;
    font-weight: 400;
    
    
}