<div class="heading-modal">
   <ng-container *ngIf="addEditLable == undefined;else elseBlock">
    <span>Add Account</span>
  </ng-container>
  <ng-template #elseBlock>
    <span>Edit Account</span>
  </ng-template>
    <button  (click)="hideModal()">
        <img src="../../../../assets/images/close.svg">
    </button>
</div>

<div class="form-group-main add-account-section">
  <form class="add-account-entry" [formGroup]="editaccount" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <mat-form-field appearance="fill">
              <input matInput maxlength="26" placeholder="Account Name"  formControlName="name" 
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Account No.</label>
        <mat-form-field appearance="fill">
          <input maxlength="26" matInput placeholder="Account Number" formControlName="accountNo" 
          [ngClass]="{ 'is-invalid': submitted && f.accountNo.errors }">
         
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Currency</label>
        <mat-form-field appearance="fill">
          <mat-label>USD - US Dollar</mat-label>
          <mat-select formControlName="currency" 
          [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
              <mat-option value="Dollar">Dollar</mat-option>
          
          </mat-select>
          
          
        </mat-form-field>
      </div>
      <div class="form-group">
          <label>Open Date</label>
          <mat-form-field appearance="fill">
            
              <input [min]="minDate" matInput [matDatepicker]="picker" formControlName="openDate" 
              [ngClass]="{ 'is-invalid': submitted && f.openDate.errors }">
             
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <!-- <div class="input-field">
                <p>Estimated date of delivery<span class="required-star">*</span></p>
                
            <input formControlName="edate"   class="col m6 s6" [min]="minDate" matInput [matDatepicker]="picker"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [ngClass]="{ 'invalid': submitted && f.edate.errors }">
          
            <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
         
            <mat-datepicker #picker  ></mat-datepicker>
           
           
        </div>  -->
          </mat-form-field>
      </div>
      <div class="form-group opening-balance">
        <label>Opening Balance</label>
        <mat-form-field appearance="fill">
          <input matInput maxlength="10" placeholder="Opening Balance"  formControlName="openingBalance" 
          [ngClass]="{ 'is-invalid': submitted && f.openingBalance.errors }">
          
    </mat-form-field>
    
      </div>
      <div class="form-group">
        <label>Phone No.</label>
        <mat-form-field appearance="fill">
          <input matInput maxlength="13" minlength="10"  placeholder="Phone number" formControlName="phoneNumber" 
          [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
               <!-- <div *ngIf="mobile_no.errors"
                        [ngClass]="'error'">
                        <div *ngIf="mobile_no.errors.minlength">
                            Invalid Number
                        </div>
                        <div *ngIf="mobile_no.errors.maxlength">
                            Invalid Number
                        </div>
                    </div> -->
          
        </mat-form-field>
      </div>
      <div class="form-group type-main">
        <label>Type</label>
        <mat-form-field appearance="fill">
          <mat-label>Asset</mat-label>
          <mat-select  formControlName="accountType" 
          [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let data of accountModel"  value="{{data._id}}">{{ data.name }}</mat-option>
            <mat-form-field appearance="fill">
              <input maxlength="20" (keyup)="addType($event.target.value)" [value]="accountType"  matInput placeholder="Add New Type">
            </mat-form-field>
            <button (click)="saveType()" class="btn add-btn"> Add</button>
          </mat-select>
        
        </mat-form-field>
          
      </div>
      <div class="form-group">
        <label>Website</label>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Website" formControlName="website" 
          [ngClass]="{ 'is-invalid': submitted && f.website.errors }">
         
        </mat-form-field>
         
      </div>
      <div class="form-group">
        <label>Icon</label>
        <mat-form-field appearance="fill" >
          <input matInput  formControlName="icon" 
          [ngClass]="{ 'is-invalid': submitted && f.icon.errors }">
        
          <a class="add-icon">
            <img src="../../../assets/images/plus-icon.svg">
          </a>
        </mat-form-field>

      </div>
      <div class="form-group">
        <label>Note</label>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Add note here" formControlName="note" 
          [ngClass]="{ 'is-invalid': submitted && f.note.errors }">
         
        </mat-form-field>
      </div>

  <div class="last-section">
    <button class="btn"> Save</button>
    
  </div>
</form>

</div>