<div class="heading-modal">
    <span>Add Account</span>
    <button class="btn" [mat-dialog-close]>
        <img src="../../../assets/images/close.svg">
    </button>
</div>

<div class="form-group-main add-account-section">
  <form class="add-account-entry" [formGroup]="editaccount" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <mat-form-field appearance="fill">
              <input matInput placeholder="Account Name"  formControlName="Accountname" 
              [ngClass]="{ 'is-invalid': submitted && f.Accountname.errors }">
              
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Account No.</label>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Account Number" formControlName="Accoutnumber" 
          [ngClass]="{ 'is-invalid': submitted && f.Accoutnumber.errors }">
         
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Currency</label>
        <mat-form-field appearance="fill">
          <mat-label>USD - US Dollar</mat-label>
          <mat-select formControlName="Usddollar" 
          [ngClass]="{ 'is-invalid': submitted && f.Usddollar.errors }">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          
          
        </mat-form-field>
      </div>
      <div class="form-group">
          <label>Open Date</label>
          <mat-form-field appearance="fill">
            
              <input matInput [matDatepicker]="picker" formControlName="Opendate" 
              [ngClass]="{ 'is-invalid': submitted && f.Opendate.errors }">
             
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="form-group opening-balance">
        <label>Opening Balance</label>
        <mat-form-field appearance="fill">
          <mat-label>0</mat-label>
          <mat-select formControlName="Openingbalance" 
          [ngClass]="{ 'is-invalid': submitted && f.Openingbalance.errors }">
              <mat-option>None</mat-option>
              <mat-option value="option1">100</mat-option>
              <mat-option value="option2">200</mat-option>
              <mat-option value="option3">300</mat-option>
          </mat-select>
       
        </mat-form-field>
      </div>
      <div class="form-group">
        <label>Phone No.</label>
        <mat-form-field appearance="fill">
          <input matInput  placeholder="Phone number" formControlName="Phonenumber" 
          [ngClass]="{ 'is-invalid': submitted && f.Phonenumber.errors }">
          
        </mat-form-field>
      </div>
      <div class="form-group type-main">
        <label>Type</label>
        <mat-form-field appearance="fill">
          <mat-label>Asset</mat-label>
          <mat-select  formControlName="Asset" 
          [ngClass]="{ 'is-invalid': submitted && f.Asset.errors }">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Add New Type" required>
            </mat-form-field>
            <button class="btn add-btn"> Add</button>
          </mat-select>
        
        </mat-form-field>
          
      </div>
      <div class="form-group">
        <label>Website</label>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Website" formControlName="Website" 
          [ngClass]="{ 'is-invalid': submitted && f.Website.errors }">
         
        </mat-form-field>
         
      </div>
      <div class="form-group">
        <label>Icon</label>
        <mat-form-field appearance="fill" >
          <input matInput  formControlName="Icon" 
          [ngClass]="{ 'is-invalid': submitted && f.Icon.errors }">
        
          <a class="add-icon">
            <img src="../../../assets/images/plus-icon.svg">
          </a>
        </mat-form-field>

      </div>
      <div class="form-group">
        <label>Note</label>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Add note here" formControlName="Note" 
          [ngClass]="{ 'is-invalid': submitted && f.Note.errors }">
         
        </mat-form-field>
      </div>

  <div class="last-section">
    <button class="btn"> Save</button>
    
  </div>
</form>

</div>