<div class="heading-modal">
    <ng-container *ngIf="addEditLable == undefined;else elseBlock">
        <span>Add Account</span>
    </ng-container>
    <ng-template #elseBlock>
        <span>Edit Account</span>
    </ng-template>
    <button class="vector" (click)="hideModal()">
        <img src="../../../../assets/images/Vector.svg">
    </button>
</div>

<mat-progress-bar *ngIf="isApiCalling" mode="indeterminate"></mat-progress-bar>

<div class="form-group-main add-account-section">
    <form class="add-account-entry" [formGroup]="editaccount" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <mat-form-field appearance="fill">
                <input class="textTransform" matInput maxlength="40" placeholder="Account Name" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Account No.</label>
            <mat-form-field appearance="fill">
                <input class="textTransform" maxlength="40" appOnlynumberDirective matInput placeholder="Account Number"
                    formControlName="accountNo" [ngClass]="{ 'is-invalid': submitted && f.accountNo.errors }">

            </mat-form-field>
        </div>
        <div class="form-group">
            <label style="margin-left: -24px;">Currency</label>
            <!-- <mat-form-field appearance="fill"> -->
            <mat-label>USD - US Dollar</mat-label>
            <!-- <mat-select [(ngModel)]="modeselect" formControlName="currency"
          [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
          <mat-option value="Dollar">USD - US Dollar</mat-option>

        </mat-select> -->


            <!-- </mat-form-field> -->
        </div>
        <div class="form-group">
            <label>Open Date</label>
            <mat-form-field appearance="fill">

                <input placeholder="Select Date" matInput [matDatepicker]="picker" (focus)="picker.open()"
                    formControlName="openDate" [ngClass]="{ 'is-invalid': submitted && f.openDate.errors }">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <!-- <div class="input-field">
                <p>Estimated date of delivery<span class="required-star">*</span></p>
                
            <input formControlName="edate"   class="col m6 s6" [min]="minDate" matInput [matDatepicker]="picker"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [ngClass]="{ 'invalid': submitted && f.edate.errors }">
          
            <mat-datepicker-toggle matSuffix [for]="picker"  ></mat-datepicker-toggle>
         
            <mat-datepicker #picker  ></mat-datepicker>
           
           
        </div>  -->
            </mat-form-field>
        </div>
        <div class="form-group opening-balance">
            <label>Opening Balance</label>
            <mat-form-field appearance="fill">
                <input type="text" matInput maxlength="15" appOnlynumberDirective placeholder="Opening Balance"
                    formControlName="currentBalance"
                    [ngClass]="{ 'is-invalid': submitted && f.currentBalance.errors }" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Phone No.</label>
            <mat-form-field appearance="fill">
                <input type="text" matInput maxlength="13" minlength="10" appOnlynumberDirective
                    placeholder="Phone number" formControlName="phoneNumber"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                <!-- <div *ngIf="mobile_no.errors"
                        [ngClass]="'error'">
                        <div *ngIf="mobile_no.errors.minlength">
                            Invalid Number
                        </div>
                        <div *ngIf="mobile_no.errors.maxlength">
                            Invalid Number
                        </div>
                    </div> -->

            </mat-form-field>
        </div>
        <div *ngIf="accountModel.length == 0" class="form-group type-main">
            <label>Type</label>
            <mat-form-field appearance="fill">
                <!-- <mat-label>Asset</mat-label> -->
                <mat-select class="textTransform" formControlName="accountType"
                    [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">

                    <!-- <mat-option *ngFor="let data of accountModel" value="{{data._id}}">{{ data.name }}</mat-option> -->
                    <mat-form-field appearance="fill">
                        <input maxlength="40" [(ngModel)]="filterName" [ngModelOptions]="{standalone: true}"
                            name="filterName" (keyup)="addType($event.target.value)"
                            (keydown)="$event.stopPropagation()" [value]="accountType" matInput
                            placeholder="Add New Type" />
                        <button (click)="saveType()" class="btn add-btn"> Add</button>
                    </mat-form-field>

                </mat-select>

            </mat-form-field>

        </div>
        <div *ngIf="accountModel.length > 0" class="form-group type-main">
            <label>Type</label>
            <mat-form-field appearance="fill">
                <!-- <mat-label>Asset</mat-label> -->
                <mat-select class="textTransform" formControlName="accountType"
                    [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">

                    <mat-option *ngFor="let data of accountModel" value="{{data._id}}">{{ data.name }}</mat-option>
                    <mat-form-field appearance="fill">
                        <input maxlength="40" [(ngModel)]="filterName" [ngModelOptions]="{standalone: true}"
                            name="filterName" (keyup)="addType($event.target.value)" [value]="accountType" matInput
                            placeholder="Add New Type">
                        <button (click)="saveType()" class="btn add-btn"> Add</button>
                    </mat-form-field>

                </mat-select>

            </mat-form-field>

        </div>
        <div class="form-group">
            <label>Website</label>
            <mat-form-field appearance="fill">
                <input class="dot textTransform" maxlength="40" matInput placeholder="Website" formControlName="website"
                    [ngClass]="{ 'is-invalid': submitted && f.website.errors }">

            </mat-form-field>

        </div>
        <div class="form-group">
            <label>Icon</label>
            <div class="icon-div-main">
                <div class="icon-inner-main" *ngFor="let data of icons;let i = index"
                    [ngClass]="{ 'active' : isSelected == i }">
                    <img src="{{data.path}}" (click)="selectIcon(i,data.path)">
                </div>
            </div>
        </div>
        <div class="form-group note-section-last">
            <label>Note</label>
            <mat-form-field appearance="fill">
                <textarea style="height: 100px; border-radius: 20px !important; resize: none;" class="textTransform"
                    maxlength="150" matInput placeholder="Add note here" formControlName="note"></textarea>

            </mat-form-field>
        </div>

        <div class="last-section">
            <button [disabled]="isSpinnerLoading" class="btn"> <i class="fa fa-spin fa-spinner"
                    *ngIf="isSpinnerLoading"></i>&nbsp;
                <span *ngIf="addEditLable==undefined">Save</span>
                <span *ngIf="addEditLable!=undefined">Update</span>
            </button>

        </div>
    </form>

</div>