<div class="heading-modal">
    <span>Forgot password?</span>
</div>
<div class="stat-content-modal">
    <span class="we-have">Enter your registered email.<br>
    we will send you the link to recover your password</span>

   
   
    <div class="otp-code-main">
        <form [formGroup]="email" (ngSubmit)="onSubmit()">
            <div class="form-group Email-id">
            <input type="text" class="form-control forgotemail" placeholder="Email ID" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required"></div>
                <div *ngIf="f.email.errors.email"></div>
            </div>
            </div>
            <button class="btn Verify w-100 d-block">Enter</button>
        </form>
    </div>
</div>