  // ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
    @content;
    }
    }
    
    @mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
    @content;
    }
    }
    
    // ----------------------------For Orientation-----------------------//
    @mixin landscape-orientation($max-screen-size,
    $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
    @content;
    }
    }
    
    @mixin btw-mq($min-screen-size,
    $max-screen-size,
    $pixel-ratio,
    $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
    @content;
    }
    }    
// ------------END of Media Screen Mixing--------------//

.white-box{
    position: relative;
    padding:20px 0px;
    padding-bottom:0px;

    .scroller-class{
        height: 635px !important;
       overflow-y: scroll !important;
    }
}

.asset-main-tab {
    margin-top:5px;
    padding-bottom:20px;
    border-bottom: 1px solid #cccccc;
    
    .nav-tabs {
        border-bottom: 0 !important;
        width: 19%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        margin-left: 20px;
        @include max-mq(1200){
            width:30%;
        }
        .nav-item {
            border: none !important;
            font-size: 13px;
            color: #5e5e5e;
            font-weight: 400;
            padding: 0;
            position: relative;
            padding: 9px 0px;
            border-radius: 18px !important;
            background: #f6f6f6;
    
            &:hover{
                background: #7299FF;
                color:#fff;
            }
        }
        .active{
            background: #7299FF;
            color:#fff;
           
        }
    }
}


.tab-pane {
    padding: 0px 25px;
    @include max-mq(1200){
        padding:0px 20px;
    }
}

//----------- strips------------------
.editable-account{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 22px 25px;
    display: flex;
    margin-top: 10px;
    .number {
        width: 5%;
    }
    .account-type {
        width: 60%;
    }
    .pricing-icon {
        width: 25%;
        .price{
            margin-right:25px;
           
        }
    }
    .action-tab-main {
        width: 10%;
        .edit-btn{
            margin-right:25px;
            cursor: pointer;
            @include max-mq(1200){
                margin-right:10px;
            }
        }
    }
}

.active-step{
        border-left: 10px solid #7299FF !important;
}



.list-main-filter{
    border: 1px solid rgba(114, 153, 255, 0.25);
    border-radius: 10px;
    padding-bottom:20px;
    margin-top: 0px;
    .asset-main-tab{
        display: flex;
        align-items: center;
        padding-bottom: 0;
        margin-top: 0;
        border-bottom: 0;
        background: #7299FF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px 20px;
       span{
        color: #fff;
        font-weight: 700;
        font-size: 15px;
       }
    }
    
}



// -----------------------------------total-expanse--------------------------//
.fixed-foot {
    position: fixed !important;
    bottom: 12px;
    width: 83.5%;
    z-index: 1;
}

.total-expanse-panal-bottom-main {    
    margin-top: 20px;
    background: #f3d39e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px;
    position: relative;    

    .inner-expanse-panal-main{
        display: flex;

        .boxes {
            display: block;
            width: 100%;
            padding: 15px;
            border: none;
            margin-bottom: 5px;
            box-sizing: border-box;
            font-size: 1rem;
            text-align: center;            
          }
    }
}

// .total-expanse-panal-bottom-main{
//     bottom: 0px !important;
//     margin-top: 20px;
//     background: rgba(255, 164, 18, 0.3);
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//     padding: 20px 20px;
//     position: relative;
//     // &::before{
//     //     position: absolute;
//     //     content: '';
//     //     background: rgba(0, 0, 0, 0.2);
//     //     width: 1px;
//     //     top: 0;
//     //     bottom: 0;
//     //     left: auto;
//     //     right: 25%;
//     // }
//     .inner-expanse-panal-main{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .left-panal{
//             width: 100%;
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//             text-align: center;
//             .com-col{
//                 .label {
//                     text-transform: uppercase;
//                     font-size: 13px;
//                     display: block;
//                     margin-bottom: 15px;
//                 }
//                 .value {
                    
//                     font-size: 20px;
//                     font-weight: bold;
//                 }
//             }
//         }
        
//     }
// }



.red-total-expanse {
    color: #FD4755;
}

.green-cleared {
    color: #27AE60;
}

.second-col:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    width: 1px;
    top: 0;
    bottom: 0;
    left: 33%;
}

.second-col:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    width: 1px;
    top: 0;
    bottom: 0;
    right: 33%;
}


// ------------------------splitwise-main----------------------//
.splitwise-main{
    padding: 10px 20px;
}

.list-main-filter{
    .asset-main-tab {
        justify-content: space-between;
        .btn-group{
            a{
                background: rgba(255, 255, 255, 0.3);
                color: #fff;
                padding: 10px 20px;
                font-size: 12px;
                line-height: 12px;
                border-radius: 15px;
                font-weight: 100;

            }
            .add-btn {
                margin-right: 10px;
                border-radius: 100% !important;
                padding: 10px !important;
                display: flex;
                align-items: center;
            }
        }
    }
}

// -----------------strips--------------------//
.accordian-main {
    padding: 10px 25px;
    .inner-expansion-main {
        background: rgba(246, 246, 246, 0.8);
        padding: 8px 15px;
        border-radius: 11px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:last-child{
            margin-bottom: 0px;
        }
        .inner-sub-left{
            width: 100%;
            margin-right: 10px;
            .main-strips {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .holder-name{
                    font-size: 12px;
                    line-height: 216.5%;
                }
                .price-tag{
                    font-size: 13px;
                    
                }
                .date-and-time{
                    font-size: 10px;
                    line-height: 216.5%;
                    color: rgba(94, 94, 94, 0.5);
                }
                .account-type{
                    font-size: 10px;
                    line-height: 216.5%;
                }
            }
        }
    }
}


// -------------------------Total-expanse-panal---------------//

.total-expanse-panal-bottom-main{
    .inner-expanse-panal-main{
        .left-panal{
            width: 75%;
            display: block;
            margin: auto;
            text-align: unset;
            .com-col{
                float: right;
                span.label{
                    text-align: left;
                }
                .value{
                    display: flex;
                    align-items: center;
                    .title-inner{
                        font-size: 13px;
                        font-weight: 100;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}


.splitwise-strips{
    .inner-strips{
        margin-bottom: 12px !important;
        .left-col{
            display: flex;
            align-items: center;
            .stip-small-heading{
                display: block;
                font-size: 10px;
                color: rgba(94, 94, 94, 0.5);
                margin-right: 8px;
            }
            .red-color{
                font-size: 11px;
            }
            .green-color{
                font-size: 11px;
            }
        }
    }
}