<div class="heading-modal">
    <span>Add Transfer</span>
    <button class="btn" [mat-dialog-close]>
        <img src="../../../assets/images/close.svg">
    </button>
</div>

<div class="form-group-main transaction-section">
    <form class="add-account-entry" [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>From Budget</label>
            <mat-form-field>
                <mat-select (selectionChange)="loadFromData($event)" placeholder="Select From Budget" formControlName="fromBudget" name="fromBudget" [ngClass]="{ 'is-invalid': submitted && f.fromBudget.errors }">
                    <mat-option *ngFor="let fromBudget of fromBudgetList" value="{{fromBudget._id}}">{{fromBudget.name}}</mat-option>
                </mat-select>
                <div *ngIf="submitted && f.fromBudget.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.fromBudget.errors.required">From BUdget is required</div> -->
                </div>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label>To Budget</label>
            <mat-form-field>
                <mat-select placeholder="Select To Budget" name="toBudget" formControlName="toBudget" [ngClass]="{ 'is-invalid': submitted && f.toBudget.errors }">
                    <mat-option *ngFor="let toBudget of toBudgetList" value="{{toBudget._id}}">{{toBudget.name}}</mat-option>
                </mat-select>
                <div *ngIf="submitted && f.toBudget.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.toBudget.errors.required">To Budget is required</div> -->
                </div>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label>Amount</label>
            <mat-form-field appearance="fill">
                <input matInput placeholder="0" maxlength="6" formControlName="amount" (keypress)="numberOnly($event)" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" style="padding-left: 28px !important;">
                <span class="amount-dollar">$</span>
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.amount.errors.required">Amount is required</div> -->
                </div>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label>Date Time</label>
            <!-- <mat-form-field appearance="fill">
                <input formControlName="dateTime" (focus)="picker.open()" matInput [matDatepicker]="picker" [ngClass]="{ 'is-invalid': submitted && f.dateTime.errors }">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="submitted && f.dateTime.errors" class="invalid-feedback">
                    <div *ngIf="f.dateTime.errors.required">Date Time is required</div>
                </div>
            </mat-form-field> -->
            <mat-form-field appearance="fill">
                <input matInput formControlName="dateTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                    placeholder="Date Time" [ngClass]="{ 'is-invalid': submitted && f.dateTime.errors }">
                <span [owlDateTimeTrigger]="dt2"><i style="position: absolute;
                    top: 17px;
                    bottom: 0;
                    margin: auto;
                    right: 22px;" class="fa fa-calendar"></i></span>
                <owl-date-time #dt2 [hour12Timer]="true"></owl-date-time>
            </mat-form-field>
        </div>

        <div class="form-group notes-section-main">
            <label>Note</label>
            <mat-form-field appearance="fill">
                <textarea style="border-radius: 20px !important;" matInput placeholder="Add note here" maxlength="150" formControlName="note"></textarea>
            </mat-form-field>
        </div>

        <div class="last-section">
            <button class="btn"> Save</button>
        </div>
    </form>
</div>