<div class="heading-modal">
    <span>Enter Mobile Number</span>
</div>
<div class="stat-content-modal">
    <span class="we-have">Enter your mobile number.</span>
    <span class="one-last-step">One last step before you join Moneysynk</span>
    <div class="img-otp">

        <form #f="ngForm" [formGroup]="addmobile" class="mobilenum-input">
            <div class="form-width">
                <mat-form-field appearance="outline">
                    <ngx-mat-intl-tel-input (keyup)="applyFilter($event.target.value)"
                        (countryChanged)="countryChangedEvent($event)" formControlName="mobile_no"
                        aria-placeholder="Enter Number" [enablePlaceholder]="true" [enableSearch]="true"
                        name="mobile_no" #mobile_no>
                    </ngx-mat-intl-tel-input>
                    <mat-error class="err" *ngIf="f.form.controls['mobile_no']?.errors?.validatePhoneNumber">Invalid Number
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="otp-code-main">

        <!-- <button data-dismiss="modal" data-toggle="modal" class="btn Verify w-100 d-block enter-btn"
            (click)="save()">Enter</button> -->

        <button [disabled]="isLoading" data-dismiss="modal" data-toggle="modal" class="btn Verify w-100 d-block enter-btn"
            (click)="save()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>{{button}}</button>
    </div>
</div>