<div class="heading-modal">
    <span>Add Category</span>
    <button class="btn" [mat-dialog-close]>
        <img src="../../../assets/images/close.svg">
    </button>
</div>

<mat-progress-bar *ngIf="isApiCalling" mode="indeterminate"></mat-progress-bar>
<div class="form-group-main add-account-section">
    <form class="add-account-entry" [formGroup]="Addaccountentry" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <mat-form-field appearance="fill">
                <input matInput maxlength="26" placeholder="Category name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.Accountname.errors.required">First Name is required</div> -->
                </div>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Icon</label>
            <mat-form-field appearance="fill">
                    <mat-select class="textTransform" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }">
                        <mat-option *ngFor="let data of icons" value="{{data.path}}"><span style="display: flex;justify-content: center;"><img style="width: 32px;" src="{{data.path}}"></span></mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group opening-balance">
            <label>Parent category</label>
            <mat-form-field appearance="fill">
                <mat-label>0</mat-label>
                <mat-select formControlName="parent" [ngClass]="{ 'is-invalid': submitted && f.parent.errors }">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let p of allParents" [value]="p._id">{{p.name}}</mat-option>
                </mat-select>
                <div *ngIf="submitted && f.parent.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.Accountname.errors.required">First Name is required</div> -->
                </div>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Note</label>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Add note here" formControlName="note" [ngClass]="{ 'is-invalid': submitted && f.note.errors }">
                <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.Accountname.errors.required">First Name is required</div> -->
                </div>
            </mat-form-field>
        </div>

        <div class="last-section">
            <button class="btn"> Save</button>
        </div>
    </form>

</div>