// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}

// ------------END of Media Screen Mixing--------------//
.white-box {
    position: relative;
    padding: 20px 0px;
    padding-bottom: 0px;
    .scroller-class {
        height: calc(100vh - 375px) !important;
        overflow-y: scroll !important;
        // margin-bottom: 70px !important;
    }
}

.sidebar-scroller {
    height: calc(100vh - 550px) !important;
    overflow-y: scroll !important;
}

.asset-main-tab {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    .nav-tabs {
        border-bottom: 0 !important;
        width: 100%;
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        @include max-mq(1200) {
            width: 85%;
        }
        .nav-item {
            border: none !important;
            font-size: 13px;
            color: #5e5e5e;
            font-weight: 400;
            padding: 0;
            position: relative;
            .balance-btn {
                display: block;
                margin-top: 10px;
                font-size: 12px;
            }
        }
        .active {
            color: #f5b822;
            &::before {
                position: absolute !important;
                content: "";
                background: #f5b822 !important;
                bottom: -16px;
                left: 0;
                right: 0;
                z-index: 999;
                width: 19px !important;
                height: 3px;
                margin: auto;
            }
            .balance-btn {
               // color: #5e5e5e;
            }
        }
    }
}

.tab-pane {
    padding: 0px 25px;
    @include max-mq(1200) {
        padding: 0px 20px;
    }
}

.fixed-foot {
    position: fixed !important;
    bottom: 0px;
    width: calc(100% - 200px);
    z-index: 1;
}

//----------- strips------------------
.editable-account {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 15px 25px;
    align-items: center;
    display: flex;
    margin-top: 10px;
    .number {
        width: 5%;
        padding: 0px 40px 0px 0px;
    }
    .account-type {
        width: 60%;
    }
    .pricing-icon {
        width: 25%;
        .price {
            margin-right: 25px;
        }
    }
    .action-tab-main {
        width: 10%;
        .edit-btn {
            margin-right: 25px;
            @include max-mq(1200) {
                margin-right: 10px;
            }
        }
    }
}

.editable-tran {
    background: #f6f6f6;
    border-radius: 10px;
    padding: 22px 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .number {
    }
    .account-type {
    }
    .pricing-icon {
        .price {
            color: #fd4755;
        }
    }
    .action-tab-main {
        width: 10%;
        .edit-btn {
            margin-right: 25px;
            @include max-mq(1200) {
                margin-right: 10px;
            }
        }
    }
}

.main-chart-part {
    display: flex;
    align-items: center;
    .left-side {
        width: 40%;
        .item {
            position: relative;
        }
    }
    .right-side {
        width: 60%;
    }
}

.active-step {
    border-left: 10px solid #7299ff !important;
}

.main-chart-part {
    align-items: flex-start;
    padding: 20px;
    justify-content: space-between;
    .right-side {
        margin-left: 13px;
        margin-top: 13px;
        .expanse-total {
            width: 70%;
            float: right;
            .expense-btn {
                display: flex;
                justify-content: space-around;
                background: #f6f6f6;
                color: #fd4755;
                border-color: #fd4755;
                padding: 14px 9px;
                border-radius: 10px;
                border: 1px solid;
                align-items: center;
                margin-bottom: 20px;
                .red-label {
                    // color: #fff;
                    font-size: 10px;
                }
                .right-income {
                    // color: #fff;
                }
            }
        }
        .income-btn {
            display: flex;
            justify-content: space-around;
            background: #f6f6f6;
            color: #27ae60;
            border-color: #27ae60;
            border: 1px solid;
            padding: 14px 9px;
            border-radius: 10px;
            align-items: center;
            .green-label {
                // color: #fff;
                font-size: 10px;
            }
            .right-income {
                // color: #fff;
            }
        }
    }
}

.list-main-filter {
    border: 1px solid rgba(114, 153, 255, 0.25);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    .asset-main-tab {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        margin-top: 0;
        border-bottom: 0;
        background: #7299ff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 14px 10px;
        .nav {
            display: flex;
            margin-top: 0;
            width: 70%;
            grid-column-gap: 0;
            @include max-mq(1200) {
                width: 100%;
            }
            a {
                background: rgba(255, 255, 255, 0.2);
                color: #fff;
                padding: 9px 5px;
                border-radius: 18px !important;
                &::before {
                    display: none;
                }
                &:first-child {
                    margin-right: 10px;
                }
                &:hover {
                    background: #fff;
                    color: #000;
                    transition: 0.6s all ease;
                }
            }
        }
        .filter-btn-group {
            width: 30%;
            text-align: right;
            .filter-btn {
                background: transparent !important;
                padding: 0;
            }
        }
    }
}

// -----------------------------------total-expanse--------------------------//
.total-expanse-panal-bottom-main {
    margin-top: 20px;
    background: #f3d39e;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    padding: 8px;
    position: relative;
    .inner-expanse-panal-main {
        display: flex;
        align-items: center;
        .boxes {
            display: block;
            width: 100%;
            padding: 15px;
            border: none;
            margin-bottom: 5px;
            box-sizing: border-box;
            font-size: 1rem;
            text-align: center;
        }
    }
}

// .total-expanse-panal-bottom-main {
//     margin-top: 20px;
//     background: #f3d39e;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//     padding: 20px 20px;
//     position: relative;
//     &::before {
//         position: absolute;
//         content: '';
//         background: rgba(0, 0, 0, 0.2);
//         width: 1px;
//         top: 0;
//         bottom: 0;
//         left: auto;
//         right: 25%;
//     }
//     .inner-expanse-panal-main {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .left-panal {
//             width: 70%;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             .com-col {
//                 .label {
//                     text-transform: uppercase;
//                     font-size: 13px;
//                 }
//                 .value {
//                     margin-left: 10px;
//                     font-size: 13px;
//                 }
//             }
//         }
//         .right-total-panal {
//             width: 20%;
//             .total-cleared-balance {
//                 .label {
//                     display: block;
//                     font-size: 13px;
//                     text-transform: uppercase;
//                     margin-bottom: 10px;
//                 }
//                 .bold {
//                     font-size: 20px;
//                     font-weight: 500;
//                 }
//             }
//         }
//     }
// }
.red-total-expanse {
    color: #fd4755;
}

.green-cleared {
    color: #27ae60;
}

// .asset-main-tab{
//     overflow-y:hidden;
//     overflow-x: auto;
//     .nav{
//         min-width: 1500px;
//     }
// }
.display-flex {
    display: flex;
    margin-top: 40px;
    width: 100%;
    button {
        width: 100% !important;
    }
}

.summary-charts-main {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
    .left-charts {
        width: 140px !important;
        height: 140px !important;
        margin-right: 20px !important;
        display: flex;
        align-items: center;
    }
    .right-col-charts {
        width: 70%;
    }
}

.strips-main {
    background: #e8e8e8;
    margin-bottom: 14px;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    &:last-child {
        margin-bottom: 0px;
    }
    span {
        display: block;
    }
    .sub-heading {
        font-size: 10px;
        line-height: 216.5%;
    }
    .priceing-main {
        font-weight: bold;
        font-size: 15px;
        line-height: 216.5%;
    }
}

.red {
    color: #fd4755;
}

.green {
    color: #27ae60;
}

// -----------------------summary-charts-after-strips-------------------------//
.after-charts-main {
    padding: 15px 26px;
}

.after-charts-strips-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: #f6f6f6;
    padding: 20px 20px;
    border-radius: 11px;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0px;
    }
    .second-col {
        text-align: center;
    }
    .third-col {
        text-align: right;
        font-size: 10px;
    }
}

//Shimmer Style Effect
.shimmer-loading .ngx-shimmer {
    padding: 10px 25px !important;
}

.shimmer {
    display: inline-block !important;
    padding: 5px;
}
