<div class="heading-modal">
    <span *ngIf="!data.id">Add Class</span>
    <span *ngIf="data.id">Edit Class</span>
    <button class="vector" (click)="hideModal()">
        <img src="../../../../assets/images/Vector.svg">
    </button>
</div>

<div class="form-group-main group-edit-section">
    <div class="container">
        <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <!-- <input (keypress)="special_char($event)" matInput placeholder="Enter Class Name" name="className" maxlength="40" formControlName="name"
                    [(ngModel)]="data.className" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"> -->
                <input matInput placeholder="Enter Class Name" name="className" maxlength="40" formControlName="name"
                    [(ngModel)]="data.className" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            </mat-form-field>

            <div class="last-section">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" style="box-shadow: none !important;border-radius: 20px;width: 105px;
                text-align: center;
                height: 40px;" mat-raised-button class="orange-back">Save</button>
                    </div>
                    <div class="col-md-6">
                        <button mat-stroked-button color="primary" style="border-radius: 20px;border: none;"
                            matDialogClose="no">Cancle</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>